* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

#home {
    
    background-image: linear-gradient(to bottom right, #252525,  #970d0d, #912a0b, #252525);
    background-repeat: no-repeat;
}

/* menu */

header {
    background-color: #272727;
    color: #ff1818;
    padding: 20px 0;
    text-align: center;
    font-size: 15px;
    letter-spacing: 4px;
    width: 100%;
}

.logo {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #ff1818;
}


a {
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
}

a:hover {
    opacity: 0.7;
}

.nav a:hover {
    /*sublinhado no menu*/
    border-bottom: 5px solid #ff1818af;
}

.nav a.ativa {
    border-bottom: 5px solid #ff1818af;
}

.nav {
    display: flex;
    justify-content: center;
    background-color: #3a3939c7;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px 0;
    text-align: center;
    align-items: center;
    height: 8vh;
    width: 100%;
}


.nav ul {
    list-style-type: none;
    padding: 0;
    align-items: center;
}

.nav ul li {
    display: inline;
    margin-right: 20px;
}



/* fim do menu */

.container2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;

}

section {
    display: flex;
}

.photo {
    display: flex;
    width: 500px;
}




/*fim foto*/



footer {
    background-color: #272727;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}


.container {
    max-width: 1280px;
    margin: 0 auto;
}

.button {
    display: inline-block;
    background-color: #ff1818;
    color: #fff;
    padding: 15px 30px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #272727;
}

.hero {
    text-align: center;
    padding: 20px;
}

.hero h1 {
    font-size: 48px;
    color: #272727;
}

.hero p {
    font-size: 24px;
    color: #444;
    margin-top: 20px;
}

.featurectt {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 40px;
}

.featurectt {
    flex: 0 0 calc(33.33% - 20px);
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    text-align: center;
}

.featurectt h2 {
    font-size: 24px;
    color: #c91212;
    /*letra dos bloquinhos*/
}

.featurectt p {
    font-size: 16px;
    color: #444;
}

.features {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 40px;
}

.feature {
    flex: 0 0 calc(33.33% - 20px);
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    text-align: justify;
}

.feature h2 {
    font-size: 24px;
    color: #da484f;
    /*letra dos bloquinhos*/
    text-align: center;
}

.feature p {
    font-size: 16px;
    color: #444;
}

.feature2 {
    flex: 0 0 calc(33.33% - 20px);
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    text-align: justify;
}

.feature2 h2 {
    font-size: 24px;
    color: #56d991;
    /*letra dos bloquinhos*/
    text-align: center;
}

.feature2 p {
    font-size: 16px;
    color: #444;
}

.feature3 {
    flex: 0 0 calc(33.33% - 20px);
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    text-align: justify;
}

.feature3 h2 {
    font-size: 24px;
    color: #ff44b1;
    /*letra dos bloquinhos*/
    text-align: center;
}

.feature3 p {
    font-size: 16px;
    color: #444;
}

.feature8 {
    flex: 0 0 calc(33.33% - 20px);
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    text-align: justify;
}

.feature8 h2 {
    font-size: 24px;
    color: #990e92;
    /*letra dos bloquinhos*/
    text-align: center;
}

.feature8 p {
    font-size: 16px;
    color: #444;
}


.feature1 {
    flex: 0 0 calc(33.33% - 20px);
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    text-align: justify;
}

.feature1 h2 {
    font-size: 24px;
    color: #0b44ff;
    /*letra dos bloquinhos*/
    text-align: center;
}

.feature1 p {
    font-size: 16px;
    color: #444;
}

.featuretab {
    flex: 0 0 calc(33.33%, - 20px);
    background-color: #fff;
    padding: 0px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    text-align: center;
}

.featuretab table {
   margin-left: 12vw;
  /* margin: 0 auto;*/
}

.featuretab h2 {
    font-size: 24px;
    color: #DA48A1;
    /*letra dos bloquinhos*/
    text-align: center;
}

.featuretab p {
    font-size: 16px;
    color: #444;
}


/* botão de volta*/
.volta {
    position: relative;
    transform: translate(93%, 150%);
}

/* text area */
.contato textarea {
    resize: none;
}

/*formulario*/

.featurectt textarea {
    resize: none;
}

.featurectt h2 {
    font-size: 24px;
    color: #C2D56E;
    text-align: center;
}

/*foto do home*/ 

.creative-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 40px;
}

.creative-image {
    width: 500px;
    height: 500px;
    margin: 20px;
    overflow: hidden;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.creative-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.creative-image:hover img {
    transform: scale(1.1);
}

/*resposta*/

.button {
    display: inline-block;
    background-color: #C2D56E;
    color: #fff;
    padding: 15px 30px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #d0e964;
}

.heroctt {
    text-align: center;
    padding: 20px;
}

.heroctt h1 {
    font-size: 40px;
    color: #DDA247;
}

/*ancora*/ 

.button2 {
    position: relative;
    font-size: 30px;
    padding-left: 100% ;
}


/* RESPONSIVIDADE*/


